.navbar{
width: 100%;
height: 3rem;
border: 2px solid;
}
*{
    margin: 0;
    padding: 0;

}
.navbar ul{
    display: flex;
    justify-content: center;

}
.navbar ul li{
    margin: 1rem;
    list-style: none;
    cursor: pointer;

}
.container{
    display: flex;
    justify-content: space-between;
    height: 90vh;
}
.aside{
    width: 16rem;
    height:100% ;
    position: relative;
    left: -16rem;
    transition: all ease 0.3s;
}

.cross-btn{
    cursor: pointer;
    position: absolute;
    border: 1.5px solid;
    padding: 4px;
    top: 0.6rem;
    background-color: green;
    color: #fff;
    left: 14rem;
}
.input_field{
     margin: 1rem;
     height: 1.6rem;
     width: 15rem;
}

.open-btn{
  position: absolute;
  top: 4.3rem;
  left: 1rem;
  border: 1.5px solid;
  padding:0px  4px;
  font-size: 1.5rem;
  cursor: pointer;
  
}
.list_container{
    display: flex;

}
.save_ul{
    padding: 0.4rem 0;
}
.save_ul li{
    list-style-type: none;
    border: 1px solid greenyellow;
    margin: 0.7rem 0;
    height: 2rem;
    padding:0 1rem;   
    padding-top: 6px; 
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.4s ;
   font-size: 1.2rem;
}
.save_ul li:hover{
    background-color: rgb(100, 196, 100);
    color: #fff;
 
}
.practice{
    border: 2px solid;
    width: 90%;
    padding: 2rem;
    box-sizing: border-box;
}

.prac_ul{
    padding: 0.5rem;
}

.prac_ul li{
    list-style-type: none;
    border: 1px solid greenyellow;
    margin: 0.6rem;
    height: 2rem;
    padding:0 1rem;    
    cursor: pointer;
    width: 25rem;
    position: relative;
}
.prac_ul li::before{
   content: '+';
   text-align: center;
   border: 1px solid;
   box-sizing: border-box;
   padding-top: 3px;
   width: 2rem;
   height: 2rem;
   position: absolute;
   right: 0;
   font-size:1.3rem;
   font-weight: 600;
}
.prac_ul li:hover::before{
    color: #fff;
    background-color: rgb(28, 184, 28);
}
.clear_btn{
    width:2rem;
    background-color: red;
    color: #fff;
    cursor: pointer;
    border: none;
    height: 2rem;
}
.add_btn{
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    
}
.bookm{
   border: 2px solid red;
    /* box-shadow:-2px 3px 5px  rgba(0,0,0,0.5) ; */
    height: 90%;
    overflow:auto ;
    margin: 0.5rem;
}
::-webkit-scrollbar{
    background-color: rgb(189, 244, 189);
    width: 1rem;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(50, 147, 50);
  border: 5px solid transparent;
  border-radius: 1rem;
  background-clip: content-box;
}


.bookmark_ul{

    height: 20rem;
}
.bookmark_ul li{
    border: 1px solid;
    min-height: 1.5rem;
    margin: 0.2rem;
    padding: 0 0.5rem;
    border-radius: 5px;
    list-style-type: none;
}

/* ------popup------- */
.pop-container{
    display: flex;

}
.pop-box{
    position: absolute;
    width: 18rem;
    height: 2rem;
    z-index: 10;
    left:-21rem;
    margin: 0.1rem 0.5rem;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: rgb(181, 255, 111);
    color: #ff6868;
}
.pop-box::after{
    content: '';
    width: 100%;
    box-sizing: border-box;
    height: 0.2rem;
    position: absolute;
    background-color: red;
    left: 0;
    bottom: 0;
    transform:var(--scaler,scale(1,1));;
    transform-origin:0% 100% ;
    transition: all 2.5s ease;
}
